
body {
    background-color: #e4b3c4;
  }
  #teste{
    width: 1300px;
    height: 300px;
    background-image: url(https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-blend-mode: overlay;
     }
h1 { color:rgb(22, 12, 12); font-size: 2rem; }
h2 { color: rgb(22, 12, 12); font-size: 1rem;}
h3 { color:blue; font-size: small;}
h4 { color:blue; font-size: small;}
h5 { color:blue; font-size: small;}
p { background-color: blue;}
#botaoparapedidos {
    color: black; font-size: big; background-color: rgb(226, 137, 43);
}

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
   justify-content: flex-end;
    width: 700px;
     background-color: #fd7e07;  
    color: #fff; }
    .item {
    align-items: flex-start;
    width: 400%; }
    